
$primary-color: #051937;
$secondary-color: #004d7a;
$tertiary-color: #00bf72;
$neutral-color: #bbbbbb;
$border: 1px outset #008793;
$details-color-green: #a8eb12;
$details-color-pink: #f1728a;
$hero-text-color: #515151;
$margin-center: 0 auto;
$font-stack: 'Fira Sans', sans-serif;